.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 20px;
}

@media (max-width: 300px) {
  .card-list {
    grid-template-rows: 80vh;
  }
}
